.fileList {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  width: 400px;
}

.fileContainer {
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.fileName {
  margin-left: 2rem;
}
